<h1 class="text-center">Artículos</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id. Artículo</th>
            <th scope="col">Familia</th>
            <th scope="col">Descripción</th>
            <th scope="col">Stock</th>
            <th scope="col">Activo</th>
            <th scope="col">Precio venta</th>
            <th scope="col">Precio compra</th>
             <th scope="col"><a class="btn btn-primary btn-sm" href="/articulo/nuevo/" role="button">Nuevo</a></th>

        </tr>
    </thead>
    <tbody>

        {{#each articulo}}
        <tr>
            <td>{{IdArticulo}}</td>
            <td>{{Familia}}</td>
            <td>{{Descripcion}}</td>
            <td>{{Stock}}</td>
             {{#if Activo}}
              <td>Activo</td>
            {{else}}
              <td>Desactivado</td>
            {{/if}}
            <td>{{PrecioVenta}}</td>
            <td>{{PrecioCompra}}</td>
            <td><a class="btn btn-primary btn-sm" href="/articulo/{{IdArticulo}}" role="button">Editar</a>            
            <a class="btn btn-danger btn-sm" name="operacion" value="Borrar" href="/articulo/borrar/{{IdArticulo}}" role="button">Borrar</a></td>
        </tr>
        {{/each}}

    </tbody>
</table>