<h1 class="text-center">Listado de Clientes</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>

        {{#each cliente}}
        <tr class="bg-light">
            <td>{{DNI}}</td>
            <td><a href="/cliente/{{DNI}}">{{Nombre}}</a> </td>
             <td>{{Apellido}}</td>
            <td>{{Email}}</td>
        </tr>
        {{/each}}

  </tbody>
</table>
