<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Pedido Cliente</title>
</head>

<body>
    <form action="" method="POST" autocomplete="off">
        <div class="container m-4 p-2 border border-primary">
            <h1 class="text-center">Pedido Cliente</h1>


            <div class="row align-items-center">
                <div class="col-2">
                    <div class="form-group">
                        <label for="IdPedidoCli">Id Pedido:</label>
                        <input type="number" step="any" class="form-control" name="Idpedido" placeholder="...."
                            value="{{pedidoClie.IdPedidoCli}}" readonly>
                    </div>
                </div>
              
                <div class="col-2">
                    <div class="form-group">
                        <label for="Fecha">Fecha:</label>
                        <input type="date" class="form-control" name="Fecha" placeholder="...."
                            value="{{pedidoClie.Fecha}}">
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group border border-success p-2">
                        <label class="text-center" for="exampleFormControlSelect1">Seleccione un cliente</label>
                        <input type="text" name="ClienteDNI" id="ClienteDNI" list="ListNombre">
                        <datalist id="ListNombre">
                        {{!-- <select class="form-control" name="ClienteDNI" id="exampleFormControlSelect1"> --}}
                            {{#each Clie}}
                            {{!-- <option value="{{DNI}}> {{Nombre}} {{Apellido}}"</option>   --}}
                            <option value="{{DNI}}"</option></option>
                            {{/each}}
                        {{!-- </select> --}}
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="Direccion_entrega">Dirección entrega:</label>
                        <input type="text" class="form-control" id="Direccion_entrega" name="Direccion_entrega"
                            placeholder="...." value="{{pedidoClie.Direccion_entrega}}">
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="TotalPedido">Total Pedido:</label>
                        <input type="number" step="any" class="form-control" name="TotalPedido" id="TotalPedido"
                            placeholder="...." value="{{pedidoClie.TotalPedido}}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">                                              
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ingreso datos</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" name="operacion" value="Finalizar"
                            class="btn btn-primary btn-lg">Finalizar Pedido</button>
                        <button type="reset" class="btn btn-danger btn-lg">Limpiar</button>
                        <a href="/" class="btn btn-success btn-lg" role="button" aria-disabled="true">Cerrar</a>
                    </div>
                </div>
            </div>

            {{#if error}}
            <p>{{error}}</p>
            {{/if}}


        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">id Articulo:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Cantidad:</label>
             <input type="text" class="form-control" id="message-cantidad"> 
             <label for="message-text" class="col-form-label">Precio:</label>
             <input type="text" class="form-control" id="message-precio">                  
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="agregar()">Aceptar</button>
      </div>
    </div>
  </div>
</div


    </form>

</body>

</html>

<script>

function agregar(){
    alert ("registro");

}

</script>