<h1 class="text-center">Lista de Clientes</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
      <th scope="col">A/D</th>
      <th scope="col"><a class="btn btn-primary btn-sm" href="/cliente/nuevo" role="button">Nuevo</a></th>
    </tr>
  </thead>
  <tbody>    

        {{#each cliente}}

        <tr>
            <td>{{DNI}}</td>
            <td>{{Nombre}}</td>
             <td>{{Apellido}}</td>
            <td>{{Email}}</td>
            <td>{{Activo}}</td>
            
            <td><a class="btn btn-primary btn-sm" href="/cliente/{{DNI}}" role="button">Editar</a>            
            <a class="btn btn-danger btn-sm" name="operacion" value="Borrar" href="/cliente/borrar/{{DNI}}" role="button">Borrar</a></td>

        </tr>
        {{/each}}
       

  </tbody>
</table>

