<div>
<h1 class="text-center">Empleados</h1>
</div>

<div class="text-center mb-2">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="lista" class="custom-control-input" onclick="radioListado(3)"
    checked >
    <label class="custom-control-label" for="customRadioInline1">Todos</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="lista" class="custom-control-input" onclick="radioListado(1)">
    <label class="custom-control-label" for="customRadioInline2" value="1">Activos</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline3" name="lista" class="custom-control-input" onclick="radioListado(0)">
    <label class="custom-control-label" for="customRadioInline3" value="0">Desactivados</label>
  </div>
  

</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Tipo</th>
      <th scope="col">Activo</th>
      <th scope="col"><a class="btn btn-primary btn-sm" href="/empleado/nuevo/" role="button">Nuevo</a></th>
    </tr>
  </thead>
  <tbody>    

        {{#each empleado}}
        <tr>
            <td>{{DNI}}</td>
            <td> <img class="zoomId" src="{{Foto}}" style="width: 35px;" alt=""></td>
            <td>{{Nombre}}</td>
             <td>{{Apellido}}</td>
            <td>{{Email}}</td>
            <td>{{Tipo}}</td>
            {{#if Activo}}
              <td>Activo</td>
            {{else}}
              <td>Desactivado</td>
            {{/if}}
            <td><a class="btn btn-primary btn-sm" href="/empleado/{{DNI}}" role="button">Editar</a>            
            <a class="btn btn-danger btn-sm" name="operacion" value="Borrar" href="/empleado/borrar/{{DNI}}" 
            role="button">Borrar</a></td>
         </tr>
        {{/each}}
       

  </tbody>
</table>

<script>
  function radioListado(valor) {

    if (valor == 3) {
      location.href = "/empleado/listado";
      document.getElementById("customRadioInline1").checked = true;
      document.getElementById("customRadioInline1").setAttribute("checked",true);

      
    } else {
      location.href = "/empleado/listado/" + valor + "";
      if(valor==0){
         document.getElementById("customRadioInline2").checked= true;
      }else{
         document.getElementById("customRadioInline3").checked= true;
      }

    }


  }

</script>

